<%- include('header') -%>

<div class="d-flex">
    <h1>Welcome</h1>
    <button class="btn btn-primary"><a href="/user" class="text-white" style="text-decoration: none;">USER</a></button>
    <button class="btn btn-primary"><a href="/admin" class="text-white" style="text-decoration: none;">ADMIN</a></button>
</div>

<%- include('footer') -%>
