<%- include('header') -%>

<div class="container">
    <div class="row">
        <div class="dashboard-box">
            <h1>User DashBoard</h1>
            <h2> <%= userMail %> </h2>
            <button class="btn btn-danger"><a href="/user/userLogout" class="text-white" style="text-decoration: none;">Logout</a></button>
        </div>
    </div>
</div>

<%- include('footer') -%>